table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-right: 20%;
   
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .whole{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  }