@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

body {
  overflow-x: hidden;
}

:root {
  --bg-color: rgb(246, 246, 246);
  --color1: rgb(191, 219, 247);
  --color2: rgb(31, 122, 140);
  --color3: rgb(2, 43, 58);
  --white: rgb(255, 255, 255);
  --persian-orange: rgb(198, 136, 102);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 16px / 24px 'Lora', sans-serif;
  background-color: var(--bg-color);
  color: var(--color3);
  margin: 50px 0;
}

.container {
  max-width: 100vw;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container69 {
  padding-left: 80px;
  padding-right: 25px;
}

.cards {
  width: 100%;
  max-width: 100vw;
  display: flex;
  padding: 15px 0;
  list-style: none;
  text-align: center;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 20%;
  padding: 20px;
  background: var(--bg-color);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 12px 0 rgba(255, 255, 255, 0.5);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.card:not(last-child) {
  margin-right: 10px;
}

.card:hover {
  scale: 1.05;
}

.card .card-title {
  font-size: 1.5rem;
}

.card .round {
  border: 2px solid var(--persian-orange);
  border-radius: 50%;
  padding: .35rem;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card-content p {
  font-size: 0.88rem
}



h1 {

  all: initial;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 5%;
  font-size: 45px;
}