body {
    display: block;
    margin: 0px;
}

.top_bar {
    min-width: min-content;
    width: 90vw;
    height: 12vh;
    max-height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 2px 3px rgba(166, 166, 166, 0.571);
    background-color: #fffefc;
    backdrop-filter: blur(15px);
    padding-top: 1vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    z-index: 5;
    display: flex;
    justify-content: space-between;

}

.logo_img {
    height: 100%;
}

.logo_text {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    padding-left: 1vw;
}

.side_logo {
    height: 100%;
    max-height: 100%;
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.right_logo {
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
}

.community_btn {

    border: #106409;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    width: 150px;
    margin-right: 10px;
    border-radius: 25px;
}

.log_in_bt {
    border: #106409;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    width: 150px;
    margin-right: 10px;
    border-radius: 25px;
}

.stock_btn {

    border: #636804;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    width: 150px;
    margin-right: 10px;
    border-radius: 25px;
}

.register {
    border: #636804;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    width: 150px;
    margin-right: 10px;
    border-radius: 25px;
}

.container_yt {
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    
    
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.expense_btn {
    border: #cbd334;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    width: 150px;
    margin-right: 10px;
    border-radius: 25px;
}

.log_in_bt:hover {
    background-color: rgb(235, 222, 102);
    border: #106409;
    cursor: pointer;
}

.register:hover {
    background-color: rgb(235, 222, 102);
    border: #106409;
    cursor: pointer;
}

.community_btn:hover {
    background-color: rgb(235, 222, 102);
    border: #106409;
    cursor: pointer;
}

.stock_btn:hover {
    background-color: rgb(235, 222, 102);
    border: #636804;
    cursor: pointer;
}

.expense_btn:hover {
    background-color: rgb(235, 222, 102);
    border: #636804;
    cursor: pointer;
}

.container {
    display: flex;
    padding-top: 14vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-bottom: 1vh;
    margin-left:-20px;
   font-weight: bold;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    
}

.left_align {
    padding-left: 1vw;
    font-size: 3vh;
    height: 100%;
    max-height: 100%;
    display: flex;
   font-family: 'M PLUS Rounded 1c', sans-serif;
}

.right_align {
    padding-right: 2vw;
    font-size: 3vh;
    height: 100%;
    max-height: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    align-items: center;
}
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    padding-left: 1vh;
   }
   
   .shadow {
    position: absolute;
    padding-left: 1vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0, 0%, 100%);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    padding-left: 1vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(0, 0%, 100%) 0%,
       hsl(0, 1%, 86%) 8%,
       hsl(0, 0%, 94%) 92%,
       hsl(0, 3%, 81%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(213, 90%, 42%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }

#user_name_topbar {
    padding-left: 5px;
}
.fancy {
    
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: ;
    outline: none;
    overflow: visible;
    padding: 1vh 2vh 1vh 3vh;
    position:static;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   

   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
   
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: rgb(0, 0, 0);
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }


@media screen and (min-width:400px) and (max-width:700px) {
    .top_bar {
        height: 8vh;
        width: 96vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }


    .logo_text {
        font-size: 20px;
    }

    .logo_img {
        height: 80%;
    }

    .gandhi {
        display: none;
    }

    .log_in_bt {
        font-size: 16px;
        padding: 10px;
        height: 40px;
        width: 100px;
        border-radius: 25px;
        margin-right: 0px;
    }

    .register {
        font-size: 16px;
        padding: 10px;
        height: 40px;
        width: 100px;
        border-radius: 25px;
    }
}

@media screen and (max-width:400px) {
    .top_bar {
        padding-left: 2vw;
        padding-right: 2vw;
        height: 8vh;
        width: 96vw;
    }

    .register {
        display: none;
    }

    .logo_text {
        font-size: 20px;
    }

    .logo_img {
        height: 80%;
    }

    .gandhi {
        display: none;
    }

    .log_in_bt {
        font-size: 16px;
        padding: 10px;
        height: 40px;
        width: 100px;
        border-radius: 25px;
        margin-right: 0px;
    }
}